/* LoginForm.css */

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: linear-gradient(to right, #b39ddb, #9575cd);
  background-size: cover;
  border: 1px solid #f64d4d;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

.login-container .input-box {
  margin-bottom: 15px;
}

.login-container input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  background: transparent;
  color: #fff;
  transition: border-color 0.3s ease-in-out;
}

.login-container input::placeholder {
  color: #fff; /* Kullanıcı adı ve şifre placeholder rengi */
}

.login-container input:focus {
  outline: none;
  border-color: #ba68c8;
}

.login-container .login-btn {
  width: 100%;
  padding: 12px;
  background: #ba68c8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-container .login-btn:hover {
  background-color: #8e24aa;
}

.login-container .text {
  margin: 15px 0;
  color: #fff;
}

.login-container .popup {
  background: #d81b60;
  padding: 10px;
  border: 1px solid #e56b6f;
  border-radius: 5px;
  margin-top: 15px;
  color: #fff;
}

.login-container a {
  color: #fff; /* Bağlantı rengi */
  text-decoration: underline; /* Altı çizili stil */
}

.login-container a:hover {
  text-decoration: none; /* Hover durumunda altı çiziyi kaldır */
}


/* LoginForm.css */

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid > div {
  display: flex;
  flex-direction: center;
  align-items: flex-start; /* Resmi sola hizala */
}

.grid > div img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* İsteğe bağlı: Kenarlık yuvarlatma */
}
/* LoginForm.css */

form {
  display: grid;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Formu sağ köşeye hizala */
  justify-content: center;
}

form div {
  display: flex;
  flex-direction: column;
}

form div p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* İstediğiniz boşluk değerini ayarlayabilirsiniz */
}

form div p input {
  margin-right: 5px; /* İstediğiniz boşluk değerini ayarlayabilirsiniz */
}

form div p label {
  margin: 0;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #ba68c8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #8e24aa;
}

